@import url("main-styles.css");
@import url("buttons.css");

.form-title,
.input-label {
    color: var(--secondary)
}

#forms-container {
    display: flex;
    justify-content: space-around;
    width: 750px;
    height: 50%;
}

#register-form,
#login-form {
    border: var(--secondary) solid 2px;
    background-color: var(--primary);
    width: 45%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.input-error {
    color: var(--error);
    display: block;
    font-size: 13px;
    min-height: 35px;
    cursor: text;
}

.submit-button {
    margin-top: 10%;
    margin-bottom: 5%; 
}

.checkbox-password {
    display: inline;
    position: absolute;
    width: 15px;
    height: 38px;
    margin-left: 5px;
    cursor: pointer;
}

.input-label {
    display: flex;
    font-size: 13px;
    margin-bottom: 1px;
}

.email-container,
.password-container {
    width: 80%;
}

.form-input {
    margin-bottom: 5px;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
}

.form-title {
    margin-bottom: 10%;
}

@media only screen and (max-width: 800px) {
    #forms-container {
        display: block;
        width: 80%;
        max-width: 500px;
        height: auto;
    }

    #register-form,
    #login-form {
        width: 100%;
        margin: 5% 0;
    }

    .form-title {
        margin-top: 1%;
    }
}

@media only screen and (max-width: 450px) {
    .submit-button {
        width: 100px;
        padding: 6px 15px;
        border-width: 1px;
        font-size: 11px;
    }

    .form-input {
        padding: 5px 20px;
        font-size: 11px;
        border-width: 1px;
    }

    .checkbox-password {
        width: 15px;
        height: 28px;
    }

    .input-error {
        font-size: 10px;
    }

    .form-title {
        font-size: 40px;
    }

    .input-label {
        font-size: 12px;
    }
}

@media only screen and (max-height: 670px) {
    .submit-button {
        margin-top: 0;
    }

    .form-title {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0;
    }
}